#
# Copyright (c) 2026 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig BM_FATFS
	bool "Bare Metal Zephyr Memory Storage"
	select SQSPI
	help
	  Bare Metal Zephyr Memory Storage library.

if BM_FATFS

config FS_FATFS_WINDOW_ALIGNMENT
	int "Memory alignment for the member \"win\" in FATFS"
	default 1
	help
	  Specifies alignment, in bytes of FAT FS window buffer that is
	  used for device's read/write operations. MMC controllers may
	  require read/write buffer to start at memory address with
	  specific alignment, for example 16 or 512 bytes, the value
	  provided here is used as such alignment. Note that the window
	  buffer is internal element of FATFS structure, which means
	  that, in worst scenario, value provided here may cause FATFS
	  structure to have size of twice the value.

module=BM_FATFS
module-str=BM_FATFS
source "subsys/logging/Kconfig.template.log_config"

endif # BM_FATFS
